<div class="fixed-top text-center">
  <h1>BATMEN</h1>
<div id="search-container">

  <label for="search"></label>
  <input type="text" name="search" id="search-box" placeholder="Establishment name or address...">
<br><br>
  <div id="search-options">
    <button type="button" class="btn btn-primary mt-2">Aesthetics</button>
    <button type="button" class="btn btn-primary mt-2">Barbering & Hairdressing</button>
    <button type="button" class="btn btn-primary mt-2">Body Piercing</button>
    <button type="button" class="btn btn-primary mt-2">Ear Piercing</button>
    <button type="button" class="btn btn-primary mt-2">Electrolysis</button>
    <button type="button" class="btn btn-primary mt-2">Micropigmentation</button>
    <button type="button" class="btn btn-primary mt-2">Nails</button>
    <button type="button" class="btn btn-primary mt-2">Tattooing</button>

  </div>
  {{!-- end of #search-options --}}
</div>
{{!-- end of #search-container --}}
</div>

<div id="mapid"></div>


{{!-- <div id="result">

  <div id="result-bodysafe">
    <h3>bodysafe result goes here</h3>
    <p id="address">address</p>
    <p id="category">category</p>
    <p id="details">details</p>
  </div>

  <div id="result-yelp">
  </div>

</div> --}}