<header>
  <h1>BATMEN</h1>
</header>

<label for="search"></label>
<input type="text" name="search" id="search-box" placeholder="Establishment name or address...">

<div id="search-options">

  <input type="checkbox" name="aesthetics" id="aesthetics">
  <label for="aesthetics">Aesthetics</label>

  <input type="checkbox" name="barbering" id="barbering">
  <label for="barbering">Barbering & Hairdressing</label>

  <input type="checkbox" name="bodyPiercing" id="bodyPiercing">
  <label for="bodyPiercing">Body Piercing</label>

  <input type="checkbox" name="earPiercing" id="earPiercing">
  <label for="earPiercing">Ear Piercing</label>

  <input type="checkbox" name="electrolysis" id="electrolysis">
  <label for="electrolysis">Electrolysis</label>

  <input type="checkbox" name="micropigmentation" id="micropigmentation">
  <label for="micropigmentation">Micropigmentation</label>

  <input type="checkbox" name="nails" id="nails">
  <label for="nails">Nails</label>

  <input type="checkbox" name="tattooing" id="tattooing">
  <label for="tattooing">Tattooing</label>

</div>
{{!-- end of #search-options --}}



<div id="mapid"></div>


<div id="result">

  <div id="result-bodysafe">
    <h3>bodysafe result goes here</h3>
    <p id="address">address</p>
    <p id="category">category</p>
    <p id="details">details</p>
  </div>

  <div id="result-yelp">
  </div>

</div>