<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {{!-- Leaflet --}}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- stamen map --}}
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
</head>

<body>
  {{{body}}}




  <script>

    //leaflet setup

    //var mymap = L.map('mapid', { zoomControl: false }).setView([43.706635, -79.388750], 12);

    //L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY2lubmFtb21lIiwiYSI6ImNrMGZxbTQ5ZjAyNzQzaXM4am90Mjg0NWkifQ.hbdP4yMD7PFsKvw-PRzVuA', {

    //attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    //maxZoom: 18,
    //id: 'mapbox.streets',
    //accessToken: 'pk.eyJ1IjoiY2lubmFtb21lIiwiYSI6ImNrMGZxbTQ5ZjAyNzQzaXM4am90Mjg0NWkifQ.hbdP4yMD7PFsKvw-PRzVuA'
    //}).addTo(mymap);

    var layer = new L.StamenTileLayer("toner");
    var mymap = new L.Map("mapid", {
      center: new L.LatLng(43.706635, -79.413750),
      zoom: 12,
      zoomControl: false
    });
    mymap.addLayer(layer);

    L.control.zoom({ position: 'bottomright' }).addTo(mymap);


    //icons
    var IconOne = L.icon({
      iconUrl: '/images/pink.png',
      iconSize: [18, 30], // size of the icon
      iconAnchor: [9, 30], // point of the icon which will correspond to marker's location
      //popupAnchor: [0, -25], // point from which the popup should open relative to the iconAnchor
      className: 'pink'
    });

    var IconTwo = L.icon({
      iconUrl: '/images/blue.png',
      iconSize: [18, 30], // size of the icon
      iconAnchor: [9, 30], // point of the icon which will correspond to marker's location
      //popupAnchor: [0, -25], // point from which the popup should open relative to the iconAnchor
      className: 'blue'
    });

    var IconThree = L.icon({
      iconUrl: '/images/purple.png',
      iconSize: [18, 30], // size of the icon
      iconAnchor: [9, 30], // point of the icon which will correspond to marker's location
      //popupAnchor: [0, -25], // point from which the popup should open relative to the iconAnchor
      className: 'purple'
    });


    var IconFour = L.icon({
      iconUrl: '/images/light blue.png',
      iconSize: [18, 30], // size of the icon
      iconAnchor: [9, 30], // point of the icon which will correspond to marker's location
      //popupAnchor: [0, -25], // point from which the popup should open relative to the iconAnchor
      className: 'light-blue'
    });

    var IconFive = L.icon({
      iconUrl: '/images/orange.png',
      iconSize: [18, 30], // size of the icon
      iconAnchor: [9, 30], // point of the icon which will correspond to marker's location
      //popupAnchor: [0, -25], // point from which the popup should open relative to the iconAnchor
      className: 'orange'
    });

    var IconSix = L.icon({
      iconUrl: '/images/red.png',
      iconSize: [18, 30], // size of the icon
      iconAnchor: [9, 30], // point of the icon which will correspond to marker's location
      //popupAnchor: [0, -25], // point from which the popup should open relative to the iconAnchor
      className: 'red'
    });

    var IconSeven = L.icon({
      iconUrl: '/images/green.png',
      iconSize: [18, 30], // size of the icon
      iconAnchor: [9, 30], // point of the icon which will correspond to marker's location
      //popupAnchor: [0, -25], // point from which the popup should open relative to the iconAnchor
      className: 'green'
    });

    var IconEight = L.icon({
      iconUrl: '/images/yellow.png',
      iconSize: [18, 30], // size of the icon
      iconAnchor: [9, 30], // point of the icon which will correspond to marker's location
      //popupAnchor: [0, -25], // point from which the popup should open relative to the iconAnchor
      className: 'yellow'
    });


    function switchCatego(nameCatego) {
      let icon = ''
      if (nameCatego === 'Aesthetics') {
        icon = IconOne
      } else if (nameCatego === 'Barbering & Hairdressing') {
        icon = IconTwo
      } else if (nameCatego === 'Body Piercing') {
        icon = IconThree
      } else if (nameCatego === 'Ear Piercing') {
        icon = IconFour
      } else if (nameCatego === 'Electrolysis') {
        icon = IconFive
      } else if (nameCatego === 'Micropigmentation') {
        icon = IconSix
      } else if (nameCatego === 'Nails') {
        icon = IconSeven
      } else if (nameCatego === 'Tattooing') {
        icon = IconEight
      }
      return icon
    }

    function addToMap(count) {
      count = count || 'all'
      $.get("/api/f/" + count, function () {
      })
        .done(function (data) {
          let items = jQuery.parseJSON(data)

          for (let key in items) {
            iconresult = switchCatego(items[key].cat);
            let latlng = L.latLng(items[key].lat, items[key].lon);
            let marker = L.marker(latlng, { icon: iconresult }).addTo(mymap);

            //hide all markers first
            $(`.leaflet-marker-icon`).hide();

            //always open popup window below the search options
            marker.addEventListener("click", function (e) {
              L.popup({
                autoPanPaddingTopLeft: [0, 200],
                offset: [0, -23]
              })
                .setLatLng(this.getLatLng())
                .setContent(items[key].cat + '<br>' + items[key].name)
                .openOn(mymap);
            });

          }
        });
    };
    addToMap(700)


    function showMarkers(input, img) {
      $(input).change("click", function () {
        if ($(this).is(':checked')) {
          $(img).show();
        } else {
          $(img).hide();
        }
      });
    }

    showMarkers('input[id=aesthetics]', '.pink');
    showMarkers('input[id=barbering]', '.blue');
    showMarkers('input[id=bodyPiercing]', '.purple');
    showMarkers('input[id=earPiercing]', '.light-blue');
    showMarkers('input[id=electrolysis]', '.orange');
    showMarkers('input[id=micropigmentation]', '.red');
    showMarkers('input[id=nails]', '.green');
    showMarkers('input[id=tattooing]', '.yellow');


  </script>


</body>

</html>